<p-toast position="top-right" key="tr"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<div class="flex flex-column h-full select-none">
  <div class="flex flex-column relative shadow-1">
    <div
      class="w-full flex gap-4 flex-wrap align-items-center justify-content-between p-2"
    >
      <h3 class="my-0 cursor-pointer" [routerLink]="['/protected']">
        CS Manager
      </h3>
      <div class="flex gap-4 align-items-center">
        <div class="flex gap-2 align-items-center">
          <p-dropdown
            [options]="langsList"
            [(ngModel)]="lang"
            placeholder="{{ 'LANG.LANGUAGE' | translate }}"
            [style]="{
              width: '150px'
            }"
            (ngModelChange)="changeLang($event)"
          >
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="lang">
                <div>{{ "LANG." + lang | uppercase | translate }}</div>
              </div>
            </ng-template>
            <ng-template let-lang pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ "LANG." + lang | uppercase | translate }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <p-button
            (onClick)="toggleTheme()"
            [icon]="isDarkMode ? 'pi pi-moon' : 'pi pi-sun'"
            [text]="true"
            [raised]="true"
          />
        </div>
        <div
          class="flex gap-2 align-items-center"
          *ngIf="authService.isLoggedIn && appConfigService.user"
        >
          <b class="mr-2">
            <i class="pi pi-user"></i>
            {{ appConfigService.user.name }}
          </b>
          <p-button
            icon="pi pi-sign-out"
            severity="danger"
            (onClick)="logout()"
            [text]="true"
            [raised]="true"
          />
        </div>
      </div>
    </div>
    <p-progressBar
      mode="indeterminate"
      class="w-full absolute bottom-0"
      [style]="{ height: '3px', bottom: '-3px' }"
      *ngIf="loading"
    />
  </div>
  <div class="flex-grow-1 overflow-hidden">
    <p-scrollPanel styleClass="h-full w-full py-2">
      <router-outlet></router-outlet>
    </p-scrollPanel>
  </div>
</div>
